body {
    background-color: burlywood;
    color: white;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

h1 {
    text-align: center;
    margin-left: 0;
}

.landing-page {
    margin-left: 0;
    width: 100%;
    color: black;
    margin-top: 50px;
    margin-bottom: 50px;
}

.selling-options {
    margin-top: 50px;
    margin-bottom: 50px;
}

.selling-options {
    text-align: center;
}
.main-img {
    margin-left: 50px;
}

